language: objective-c
branches:
  only:
  - master
git:
  submodules: false
before_install:
  - git submodule update --init --recursive
  - brew update
  - brew upgrade
  - brew install swiftlint
  - bundle install
podfile: CocoaHeadsApp/Podfile
xcode_workspace: CocoaHeadsApp/CocoaHeadsApp.xcworkspace
xcode_scheme: CocoaHeadsApp
script: xctool -workspace CocoaHeadsApp/CocoaHeadsApp.xcworkspace -sdk iphonesimulator -scheme CocoaHeadsApp build test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
osx_image: xcode7.2
notifications:
  email: false
  slack: iosdevbr:jdozLqf7LLjEeho9PB3uRL6S
