language: objective-c
branches:
  only:
    - master
git:
  submodules: false
before_install: git submodule update --init --recursive
podfile: CocoaHeadsApp/Podfile
xcode_workspace: CocoaHeadsApp/CocoaHeadsApp.xcworkspace
xcode_scheme: CocoaHeadsApp
matrix:
  include:
    - osx_image: xcode7.2
      env: TRAVIS_SWIFT_VERSION=2.1.1
